In [2]:
import pandas as pd

In [3]:
au=pd.read_csv(r"C:\Users\LENOVO\Desktop\au2_10000.csv",header=None)
au

c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (5,6,8,9,10,11,13,14,15,16,17,19,20,21,23,24,26,27,31,32,33,34,35,36,39,40,41,42,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,66,67,68,69,71,72,73,75,76,78,79,82,83,85,86,87,88,89,90,91,92,93,94,96,97,98,99,101,104,108,109,110,111,112,113,114,115,117,118,119,120,123,125,126,127,128,129,130,131,132,133,134,135,137,138,139,141,142,144,145,147,149,151,153,154,156,157,158,159,160,161,162,165,167,168,169,172,173,174,175,176,177,178,179,180,182,185,186,187,189,190,191,197,198,199,200,201,202,203,204,206,208,209,211,212,216,217,218,222,223,224,227,228,229,230,233,235,236,239,241,242,243,245,246,247,248,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att242,att243,att244,att245,att246,att247,att248,att249,att250,class
1,v2,v3,v1,v3,v1,7947,1,v1,20759,2,...,0.82,48399,93690,v2,2,5.5,93855,5.49,0,class1
2,v1,v2,v2,v1,v3,7767,1,v2,29148,1,...,0.8,58345,95371,v1,1,1.2,92221,7.15,1,class2
3,v3,v2,v3,v3,v1,7845,2,v1,17435,1,...,0.38,50188,95346,v1,1,3.1,97711,2.59,0,class1
4,v3,v3,v3,v2,v2,8064,2,v1,27435,2,...,0.38,58308,96040,v1,2,2,98517,4.75,0,class1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,v3,v2,v2,v1,v3,8006,0,v1,22152,2,...,0.78,57789,92193,v1,2,3.9,96924,6.89,0,class2
9997,v3,v1,v2,v2,v2,7754,2,v1,29414,0,...,0.81,47417,93383,v2,0,3.9,91710,5.79,0,class2
9998,v1,v2,v3,v3,v3,7758,0,v1,19296,1,...,0.37,58280,96218,v1,1,1.5,92573,2.3,0,class1
9999,v1,v3,v3,v3,v3,7906,0,v1,28935,1,...,0.75,60543,96214,v2,1,3.6,97836,5.08,0,class2
10000,v2,v3,v2,v2,v1,7774,2,v1,26544,2,...,0.78,57909,96206,v1,1,5.6,92926,6.59,1,class1

In [4]:
au.dtypes

0      object
1      object
2      object
3      object
4      object
        ...
246    object
247    object
248    object
249    object
250    object
Length: 251, dtype: object

In [5]:
au.shape

(10001, 251)

In [6]:
au.to_csv("au.csv")

In [7]:
au1=pd.read_csv(r"C:\Users\LENOVO\Desktop\au5_500.csv",header=None)
au1

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att117,att118,att119,att120,att121,att122,att123,att124,att125,class
1,6.4,550,92,3.15,78.2,6040,1.53,83.7,v2,0.791,...,0.77,4753,904,0.93,2.9,v1,27.6,294,739,class4
2,3.1,542,70.2,4.04,79.1,6464,1.56,94.7,v1,0.738,...,0.45,6952,905,0.91,5.2,v1,28.5,660,705,class4
3,3.2,579,90.9,4.16,76.7,6395,7.27,84.4,v1,0.737,...,0.45,4664,897,0.84,1.1,v1,27.7,546,688,class1
4,3.1,609,78.2,3.02,78.6,5678,8.04,88.2,v2,0.806,...,0.56,4762,873,0.48,1.3,v2,27.7,646,783,class4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,3,583,69.7,4.76,78.3,6138,1.68,89.9,v2,0.854,...,0.57,4654,666,0.27,3.1,v2,43.9,660,686,class1
497,7.4,586,69.7,3.54,77.2,5894,9.01,90.9,v2,0.874,...,0.58,5794,899,0.9,2.4,v2,35.2,523,887,class4
498,2.9,602,69.8,3.31,78.1,6595,1.51,84.1,v2,0.738,...,0.83,4669,630,0.77,1.3,v1,66.4,654,869,class1
499,7.8,600,70.5,4.2,78.3,6803,7.13,84.2,v1,0.768,...,0.52,5602,780,0.28,3.5,v1,36,646,719,class1
500,7.1,542,77.5,4.18,79.2,5600,8.98,83.1,v2,0.759,...,0.53,5104,693,0.45,5.7,v1,46.2,336,591,class4

In [8]:
au1.to_csv("au5_500.csv")