In [1]:
import pandas as pd

In [2]:
bd=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/badges/badges.data",header=None)
bd

                        0
0             + Naoki Abe
1       - Myriam Abramson
2          + David W. Aha
3          + Kamal M. Ali
4         - Eric Allender
..                    ...
289         + Holly Yanco
290       + John M. Zelle
291     - Thomas Zeugmann
292  + Jean-Daniel Zucker
293       + Darko Zupanic

[294 rows x 1 columns]

In [3]:
bd.to_csv("Badges.csv")